SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DATABASE_URL=sqlite:///xaalisi_data.db
# DATABASE_URL=postgresql://xaalisi_admin:xaalisi_strong_pass@db:5432/xaalisi_prod_db
